{% include 'nav.html' %}
<div class="main">
{% block content %}

<div class="">
		<div class="mr-sm-2 mb-2 col-sm-8" style="margin: 10px;">
			<form action="{{ url_for('editTablet',crid=crid,crsname=tabletdetails.name)}}" method="POST">
				<div class="panel panel-info">
				  <div class="panel-heading">Edit Tablet Details</div>
				  <div class="panel-body">
				  	
					  <div class="form-group">
					  	<label class="text-primary" for="name">Enter Tablet Name:</label>
					    <input type="name" class="form-control" name="name" value="{{tabletdetails.name}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="price">Enter Price:</label>
					    <input type="text" class="form-control" name="price" value="{{tabletdetails.price}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="cartype">Enter Discription:</label>
					    <input type="text" class="form-control" name="discription" value="{{tabletdetails.tablettype}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="cartype">Enter Power:</label>
					    <input type="text" class="form-control" name="power" value="{{tabletdetails.tablettype}}">
					  </div>					  
				  </div> 
				  <div class="panel-footer text-center"><input type="submit" class="btn btn-primary" value="Edit"></div>
				</div>
				</form>
			</div>
</div>
{% endblock content %}